body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
p {
  color: gray;
}
ul {
   font-family: Futura, Arial;
}
div {
  border-radius: 4px;
  font-family: Arial, sans-serif;
  padding: 10px;
}
.code {
  color: black;
  background-color: #A5A5A5;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1.27em;
  padding: 3px;
}
.console {
  color: #00FF00;
  background-color: #000000;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1.27em;
  padding: 4px;
}
body {
	font-size: 13pt;
	background-color: #efefef;
	padding: 10px;
	margin: 0;
}
p {
  font-family: 'Arial';
}
#newd {
  color: #00FF00;
  background-color: #000000;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1.27em;
}
.highlight {
  color: #222;
  background-color: #00c2ff;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  padding: 10px;
}
#abc {
  font-size: 1.65em
}
#random {
  font-size: 1.65em
}
h1 span, h1 div {
	border: 4px dashed #20bcd5;
	padding: 10px;
   font-family: Futura, Arial;
}
h3 span, h3 div {
	border: 4px dashed #20bcd5;
	padding: 6px;
   font-family: Futura, Arial;
}
p {
   font-family: Futura, Arial;
}
p div {
  border: 4px dashed #20bcd5;
  padding: 3px;
}
.img-circle {
	border: 3px solid white;
	border-radius: 50%;
}
.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}
a { color: firebrick;}
.warn {
  background: linear-gradient(red, yellow);
  border-radius: 8px;
margin-bottom: 10px;
}
.info {
  background: linear-gradient(#647ac8, #00caff);
  border-radius: 8px;
margin-bottom: 10px;
}
.succ {
  background: linear-gradient(#008d21, #0f0);
  border-radius: 8px;
margin-bottom: 10px;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}