<!DOCTYPE html>
	<html>
		<head>
			<script src="js/jquery.js"></script>
			<title>{{ page.title }} | Samplasion Projectio[!}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2629383633762978",
    enable_page_level_ads: true
  });
</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				<script id="_wau5k6">var _wau = _wau || [];
_wau.push(["tab", "uvavnxxxzr05", "5k6", "right-middle"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/tab.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://samplasion.github.io">this site</a></li>
	        		<li><a href="https://github.com/samplasion">my github</a></li>
				<li><a href="/css/main.css">my css</a></li><br /></ul>
				<script id="_wauxp4">
					var _wau = _wau || []; _wau.push(["small", "uvavnxxxzr05", "xp4"]);
					(function() {var s=document.createElement("script"); s.async=true;
					s.src="//widgets.amung.us/small.js";
					document.getElementsByTagName("head")[0].appendChild(s);
					})();</script>
				I use ads. If you don't want them, use an AdBlocker, it's fine for me, but they pay me for my [work?].
			</footer>
		</body>
	</html>
