<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
    <!-- ORIGINAL: -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="propeller" content="aec3113016d891cc06a6bcc4a3228b3e" />
    <script type="text/javascript" src="//go.oclasrv.com/apu.php?zoneid=1442682"></script>
    <title>{{ page.title }} | SamplasionWeb</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">SamplasionWeb</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lang <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">EN</a></li>
            <li><a href="/it">IT</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">News <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/news/apple">Apple World</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br id="toTop"><br><br><br>
  {{ content }}
    <footer class="container-fluid text-center">
 	 <a href="#toTop" title="To Top">
 	   <span class="glyphicon glyphicon-chevron-up"></span>
 	 </a>
 	 <p>Bootstrap Theme Made By <a href="https://www.bootswatch.com" title="Visit Bootswatch">Bootswatch</a></p>
    <p>This page has {{ page.content | number_of_words }} words</p>
    </footer>
  </body>
</html>
